<footer>
  <small>
    <a class="footer-social-links" href="https://www.twitter.com/zoelenziesmith">Twitter</a> 
    <a class="footer-social-links" href="https://linkedin.com/in/zoelenziesmith">LinkedIn</a>
    <a class="footer-social-links" href="mailto:zoejls@gmail.com?subject=Hello%20Zoe">Email</a>
  </small>
</footer>
